:root {
    --navigation-height: 50px;
    --navigation-title: 80px;
    --navigation-width-desktop: 60px;
    --backdrop-color: rgba(46, 46, 46, 0.43);
    --backdrop-blur: 8px;
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
    color: white;
    font: 14px/1.5 sans-serif;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    --border-w: 1px;
    height: calc(var(--navigation-height) - var(--border-w));
    border-top: var(--border-w) solid rgba(255, 255, 255, 0.1);
    background-color: var(--backdrop-color);
    backdrop-filter: var(--backdrop-blur);
    -webkit-backdrop-filter: blur(var(--backdrop-blur));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
}

.navigation-item:hover > .navigation-icon {
    color: white
}

.navigation-icon {
    font-size: 34px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.2s;
    font-weight: lighter;
}

.navigation-item, .active > .navigation-icon {
    color: white;
}

.navigation-spacer {
    margin: 0;
    padding: 0;
}

.main-view {
    margin: 0;
    padding: 20px;
}

.main-view-block {
    --margin: 20px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 18px;
}

.page-buttons {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.page-buttons > * {
    margin: 6px;
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 5px;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.hscroll {
    overflow: auto;
    white-space: nowrap;
}

.manga-card {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 240px;
    margin: 10px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.3s;
}

.manga-card-thumbnail {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.manga-card:hover, .manga-card:active, .manga-card:focus {
    transform: scale(1.088);
    z-index: 5;
}

.manga-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    font-size: 15px;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.5));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link {
    color: white;
    text-decoration: none;
}

.styled-link {
    color: #00bfff;
    text-decoration: none;
}

.genre {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.5);
}

.manga-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px;
}

.manga-thumbnail {
    width: 180px;
    height: 270px;
    margin-right: 20px;
    border-radius: 6px;
}

.manga-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.manga-info-title {
    font-size: 18px;
    margin-bottom: 6px;
}

.manga-info-field {
    font-size: 17px;
}

.manga-description {
    font-size: 16px;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.chapters {
    table-layout: auto;
    width: 100%;
    font-size: 15px;
}

.manga-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 10px;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    .manga-header {
        flex-direction: column;
        align-items: center;
    }

    .manga-info {
        margin-top: 20px;
    }

    .manga-card-grid {
        grid-gap: 4px;
        margin: 4px;
    }
}

@media only screen and (min-width: 600px) {
    .navigation {
        width: var(--navigation-height);
        height: 100%;
        flex-direction: column;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-top: none;
    }

    .main-view {
        margin-left: var(--navigation-height);
    }

    .navigation-spacer {
        height: 0;
    }
}

@media all and (display-mode: fullscreen) and (max-width: 600px) {
    .navigation {
        width: 100%;
        --nav-pad: 16px;
        height: calc(var(--navigation-height) + var(--nav-pad));
        padding-bottom: var(--nav-pad);
    }

    .main-view {
        margin-top: var(--navigation-title);
    }
}

.browse-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.browse-input > * {
    margin: 10px;
    font-size: 18px;
    padding: 3px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
  
::-webkit-scrollbar-track {
    background: black;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
